
<!--
	Prologue by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title><%= title %></title>
    	<link rel='stylesheet' href='/stylesheets/style.css' />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<link rel="stylesheet" href="/node_modules/angular-material/angular-material.min.css"/>
		<link rel="stylesheet" href="/node_modules/angular-material/angular-material.min.css"/>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
		<script src="/node_modules/angular/angular.min.js"></script>
		<script src="/node_modules/angular-animate/angular-animate.js"></script>
		<script src="/node_modules/angular-aria/angular-aria.min.js"></script>
		<script src="/node_modules/angular-material/angular-material.min.js"></script>
		<script>
			angular.module('myApp',['ngMaterial'])
				.run(function(){
					console.log("Ready angular");
				})
				.config(function($mdThemingProvider) {
					$mdThemingProvider.definePalette('cancer-care-palette', {
						   
					    '100': '754B57',
					    '200': 'BA99A2',
					    '300': 'D1B8BF',
					    '50': 'ffebee',
					    '400': 'ef5350',
					    '500': 'f44336',
					    '600': 'e53935',
					    '700': 'd32f2f',
					    '800': 'c62828',
					    '900': 'b71c1c',
					    'A100': 'ff8a80',
					    'A200': 'ff5252',
					    'A400': 'ff1744',
					    'A700': 'd50000',
					    'contrastDefaultColor': 'light',    // whether, by default, text (contrast)
					                                        // on this palette should be dark or light

					    'contrastDarkColors': ['50', '100', //hues which contrast should be 'dark' by default
					     '200', '300', '400', 'A100'],
					    'contrastLightColors': undefined 
					
					  });
		
  					$mdThemingProvider.theme('default')
    				.primaryPalette('cancer-care-palette',{'default':'100'})
    			.accentPalette('cancer-care-palette',{'default':'200'});
				})
				.controller('myController',function($scope,$http){
					$scope.currentStep=0;
					$scope.currentType=0;
					$scope.answers=[];
					$scope.questions=[
								{
									"type":"Physical Well Being",
									"questions":[
	             								"Do you have a lack of energy?",
												"Do you have nausea?",
												"Because of my physical condition,do you have trouble meeting the needs of my family?",
												"Do you have pain?",
												"Are you bothered by side effects of treatment",
												"Do you feel ill",
												"Are you forced to spend time in bed",
												]
								},
								{
	 								"type":"Social Well Being",
	 								"questions":["I feel close to my friends",
	  											"I get emotional support from my family",
	  											"I get support from my friends",
	  											"My family has accepted my illness",
	  											"I am satisfied with family communication about my illness",
	  											"I feel close to my partner (or the person who is my main support)",
	  											"I am satisfied with my sex life"]
								},
								{
								 "type":"Emotional Well Being",
	 							"questions":[
	  										"I feel sad",
	  										"I am satisfied with how I am coping with my illness",
	  										"I am losing hope in the fight against my illness",
	  										"I feel nervous",
	  										"I worry about dying",
	  										"I worry that my condition will get worse"]
								},
								{
	 							"type":"Functional Well Being",
	 							"questions":[	"I am able to work (include work at home)",
	  											"My work (include work at home) is fulfilling",
	  											"I am able to enjoy life",
	  											"I have accepted my illness",
	  											"I am sleeping well",
	  											"I am enjoying the things I usually do for fun",
	  											"I am content with the quality of my life right now"]
								},
								{
	 							"type":"Additional Concerns",
	 							"questions":["I have been short of breath",
	  										"I am losing weight",
	  										"My thinking is clear",
	  										"I have been coughing",
	  										"I am bothered by hair loss",
	  										"I have a good appetite",
	  										"Breathing is easy for me",
	  										"Have you ever smoked?",
	  										"I regret my smoking"]
								}
							];
					$scope.saveclick = function (n,answer) {
						if(typeof answer=='undefined')
							$scope.answers.push(-1);
						else
							$scope.answers.push(parseInt(answer));
						if($scope.currentType==4&&$scope.currentStep==n-1){
							$scope.end=true;
						}
						else if($scope.currentStep==n-1){
					    	$scope.currentType++;
					    	$scope.currentStep=0;
					    } 
					    else{
					    	$scope.currentStep++;
					    }					    
					}
				
					$scope.submitFACTL = function(){
						var PWB=$scope.answers.slice(0,7);
						var SWB=$scope.answers.slice(7,14);
						var EWB=$scope.answers.slice(14,20);
						var FWB=$scope.answers.slice(20,27)
						var LCS=$scope.answers.slice(27);
						PWB=calculatePWB(PWB);
						SWB=calculateSWB(SWB);
						EWB=calculateSWB(EWB);
						FWB=calculateFWB(FWB);
						LCS=calculateLCS(LCS);
						console.log(SWB+"\n");
						console.log(EWB+"\n");
						console.log(FWB+"\n");
						console.log(LCS+"\n");
						console.log($scope.answers+"\n");
						$http.post('/addFACTL', { 
					
							   email: "donita.almeida@gmail.com" , 
							   PWB:PWB, 
							   SWB:SWB, 
							   EWB: EWB, 
							   FWB:FWB, 
							   LCS:LCS,
							   }
						   ).success(function (response) {
			                    console.log(response);
			               });
					}
					function calculatePWB(PWB){
						var count=PWB.length;
						var result=0;
						for(var value in PWB){
							if(value==-1){
								count--;
							}else{
								result+=4-value;
							}
						}
						result=(result*7)/count;
						return result;
					}
					function calculateSWB(SWB){
						var count=SWB.length;
						var result=0;
						for(var value in SWB){
							if(value==-1){
								count--;
							}else{
								result+=parseInt(value);
							}
						}
						result=(result*7)/count;
						return result;
					}
					function calculateEWB(EWB){
						var count=EWB.length;
						var result=0;
						for(var i=0;i<EWB.length;i++){
							if(EWB[i]==-1){
								count--;
							}else{
								if(i==1){
									result+=EWB[i];
								}else{								
									result+=4-EWB[i];								
								}
							}							
						}
						result=(result*7)/count;
						return result;
					}
					function calculateFWB(FWB){
						var count=FWB.length;
						var result=0;
						for(var value in FWB){
							if(value==-1){
								count--;
							}else{
								result+=parseInt(value);
							}
						}
						result=(result*7)/count;
						return result;
						
					}
					function calculateLCS(LCS){
						var count=LCS.length;
						var result=0;
						for(var i=0;i<LCS.length;i++){
							if(LCS[i]==-1){
								count--;
							}else{
								if(i==2||i==4||i==6){
									result+=LCS[i];
								}else{								
									result+=4-LCS[i];								
								}
							}							
						}
						result=(result*7)/count;
						return result;
					}
				});
		</script>
	</head>
	<body>
		<div  style="width:50%;;margin-left:25%;" ng-app="myApp" ng-controller="myController" layout="column" class="mdl-grid md-subhead">
			<md-toolbar layout="row" layout-align="center center" md-colors="{color:'accent'}" >Questionare</md-toolbar>
			<md-content style="padding:20px;" ng-repeat="questionSet in questions" ng-show="currentType == $index">
				<h2>{{questionSet.type}}</h2>
				<md-content ng-repeat="question in questionSet.questions" ng-show="currentStep == $index">
				{{question}}
				<md-input-container class="md-block" style="margin-left:50px;">
					<md-radio-group ng-model="answer" ng-change="saveclick(questionSet.questions.length,answer)" ng-required="true">
      					<md-radio-button value="0" class="md-primary">Not at all</md-radio-button>
      					<md-radio-button value="1">A little bit </md-radio-button>
      					<md-radio-button value="2">Somewhat</md-radio-button>
      					<md-radio-button value="3">Quite a bit</md-radio-button>
      					<md-radio-button value="4">Very much</md-radio-button>
    				</md-radio-group>
				</md-input-container>			
				<!--  <md-button type="submit" ng-hide="end" class="md-raised md-primary" ng-click="saveclick(questionSet.questions.length,answer)">Next</md-button>-->			
			<md-content>
		</md-content>	
		<md-button ng-show="end" class="md-raised md-primary" ng-click="submitFACTL()" >Done</md-button>			
			
		</div>
	</body>
</html>