<html>

<head>
	<title>
		<%= title %>
	</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="/assets/css/main.css" />
	<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	<link rel="stylesheet" href="/node_modules/angular-material/angular-material.min.css" />
	<link rel="stylesheet" href="/node_modules/angular-material/angular-material.min.css" />
	<script src="/node_modules/angular/angular.min.js"></script>
	<script src="/node_modules/angular-animate/angular-animate.js"></script>
	<script src="/node_modules/angular-aria/angular-aria.min.js"></script>
	<script src="/node_modules/angular-material/angular-material.min.js"></script>
	<script>
			angular.module('myApp',['ngMaterial'])
				.run(function(){
					console.log("Ready angular");
				})
		</script>
</head>

<body ng-app="myApp">

	<div id="main">

		<!-- Intro -->
		<section id="top" class="one dark cover">
			<div class="container login">
				<a href="#portfolio" class="button scrolly" style="margin-right: 2em;">Login</a>
				<a href="#portfolio" class="button scrolly">Signup</a>
			</div>

			<div class="container">
			</div>
		</section>

		<!-- Portfolio -->
		<section id="portfolio" class="two">
			<div class="container landing-container">
				<header>
					<h3>Welcome to the club you didn’t ask to join. </h3>
					<h3>We know you’re pissed. </h3>
					<h3>and that’s OK. </h3>
					<h3>We’ve been there, too. </h3>
					<h3>We connect you with your community and </h3>
					<h3>strive to make it all suck a little less.</h3>

					<h2><strong>What can we help you with you ask?</strong></h2>
				</header>
				<div class="row">
					<div class="4u 12u$(mobile)">
						<article class="item">
							<div style="height:40%; width:100%;">
						<div class="landing-card landing-effect__hover">
						<div class="landing-card__front">
						<img src="/images/lifestyle2.jpeg"/ height="100%" width="100%">
						</div>
						<div class="landing-card__back">
							<div class="card-title">LIFESTYLE</div>
							<p class="card-content">
										How to lead a better life with cancer?	
							</p>
						</div>
						</div>

							</div>
						</article>
						<article class="item">
							<div style="height:50%; width:100%;">
							<div class="landing-card landing-effect__hover">
						<div class="landing-card__front">
						<img src="/images/doctors2.jpg"/ height="100%" width="100%">
						</div>
						<div class="landing-card__back">
							<div class="card-title">DOCTORS</div>
							<p class="card-content">
								Find a professional who can answer your questions		
							</p>
						</div>
						</div>
							</div>
						</article>
					</div>
					<div class="4u 12u$(mobile)">
						<article class="item">
							<div style="height:45%; width:100%;">
							<div class="landing-card landing-effect__hover">
						<div class="landing-card__front">
						<img src="/images/support3.jpg"/ height="100%" width="100%">
						</div>
						<div class="landing-card__back">
							<div class="card-title">SUPPORT GROUPS</div>
							<p class="card-content">
								Want to speak to people who are fighting a battle same as yours?		
							</p>
						</div>
						</div>
							</div>
						</article>
						<article class="item">
								<div style="height:45%; width:100%;">
							<div class="landing-card landing-effect__hover">
						<div class="landing-card__front">
						<img src="/images/research.jpg"/ height="100%" width="100%">
						</div>
						<div class="landing-card__back">
							<div class="card-title">LATEST NEWS</div>
							<p class="card-content">
								Know the latest findings in the area of lung cancer research		
							</p>
						</div>
						</div>
							</div>
						</article>
					</div>
					<div class="4u$ 12u$(mobile)">
						<article class="item">
							
							<div style="height:40%; width:100%;">
							<div class="landing-card landing-effect__hover">
						<div class="landing-card__front">
						<img src="/images/survive.jpg"/ height="100%" width="100%">
						</div>
						<div class="landing-card__back">
							<div class="card-title">SURVIVOR STORIES</div>
							<p class="card-content">
								You are <strong>STRONGER</strong> than you think.		
							</p>
						</div>
						</div>
							</div>
						</article>
						<article class="item">
							<div style="height:50%; width:100%;">
							<div class="landing-card landing-effect__hover">
						<div class="landing-card__front">
						<img src="/images/alternative1.jpg"/ height="100%" width="100%">
						</div>
						<div class="landing-card__back">
							<div class="card-title">ALTERNATIVE TREATMENTS</div>
							<p class="card-content">
								Know your options apart from conventional treatments		
							</p>
						</div>
						</div>
							</div>
						</article>
					</div>
				</div>

			</div>
		</section>

		<!-- About Me -->
		<section id="about" class="three">
			<div class="container landing-container">

				<header>
					<h2>About Cancer Care</h2>
				</header>

				<a href="#" class="image featured"><img src="/images/supportgroup.jpg" alt="" style="height:40%"/></a>

				<h4><p>

Our mission is to empower those affected by lung cancer by:</p>
  <ul>  
	<li>building community</li>
	<li>improving quality of life</li>
	<li>providing meaningful survivorship</li>
  </ul>
  <p>
Our vision is no survivor alone. 

Our charter is to ensure that no one affected by lung cancer go unaware of the appropriate support resources they are entitled to so they can get busy living.</p>
				</h4>

			</div>
		</section>

		<!-- Contact -->
		<section id="contact" class="four">
			<div class="container landing-container">

				<header>
					<h2>Contact Us</h2>
				</header>
<p>
				<h3>Have a question? Feel free to reach out to us!</h3>
</p>

				<form method="post" action="#">
					<div class="row">
						<div class="6u 12u$(mobile)"><input type="text" name="name" placeholder="Name" /></div>
						<div class="6u$ 12u$(mobile)"><input type="text" name="email" placeholder="Email" /></div>
						<div class="12u$">
							<textarea name="message" placeholder="Message"></textarea>
						</div>
						<div class="12u$">
							<input type="submit" value="Send Message" />
						</div>
					</div>
				</form>

			</div>
		</section>

	</div>

	<!-- Footer -->
	<div id="footer" class="landing-container">

		<!-- Copyright -->
		<ul class="copyright">
			<li>&copy; CircleOfHope 2017. All rights reserved.</li>
		</ul>

	</div>

	<!-- Scripts -->
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/jquery.scrolly.min.js"></script>
	<script src="/assets/js/jquery.scrollzer.min.js"></script>
	<script src="/assets/js/skel.min.js"></script>
	<script src="/assets/js/util.js"></script>
	<!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="/assets/js/main.js"></script>
</body>

</html>