
<!--
	Prologue by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
<link rel="stylesheet" href="/assets/css/main.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
<link rel="stylesheet"
	href="/node_modules/angular-material/angular-material.min.css" />
<script src="/node_modules/angular/angular.min.js"></script>
<script src="/node_modules/angular-animate/angular-animate.js"></script>
<script src="/node_modules/angular-aria/angular-aria.min.js"></script>
<script src="/node_modules/angular-material/angular-material.min.js"></script>
 

<style>



.radonList li{
display: list-item;
list-style-type: disc;
  text-align: left;
  	color: black;
	font-size: large;
	font-weight:500;
}

.radonList{
margin:5%;

}
</style>
<script
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD06FRmOIpOsvUxrEXiwllrtQfLLVML2r4&libraries=places"></script>


<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-chart/0.1.0/ng-google-chart.min.js"
	type="text/javascript"></script>
	
	
<script>


	var app = angular.module('myApp', [ 'ngMaterial','googlechart' ]).run(function() {
		console.log("Ready angular");
	})	.config(function($mdThemingProvider) {
		$mdThemingProvider.definePalette('cancer-care-palette', {
			   
		    '100': '54BE90',
		    '200': '54BE90',
		    '300': 'D1B8BF',
		    '50': 'ffebee',
		    '400': 'ef5350',
		    '500': 'f44336',
		    '600': 'e53935',
		    '700': 'd32f2f',
		    '800': 'c62828',
		    '900': 'b71c1c',
		    'A100': 'ff8a80',
		    'A200': 'ff5252',
		    'A400': 'ff1744',
		    'A700': 'd50000',
		    'contrastDefaultColor': 'light',    // whether, by default, text (contrast)
		                                        // on this palette should be dark or light

		    'contrastDarkColors': ['50', '100', //hues which contrast should be 'dark' by default
		     '200', '300', '400', 'A100'],
		    'contrastLightColors': undefined 
		
		  });


			$mdThemingProvider.theme('default')
		.primaryPalette('cancer-care-palette',{'default':'100'})
	.accentPalette('cancer-care-palette',{'default':'200'});
	})

	app.controller("PatientController", function($window,$scope, $http, $mdDialog, $mdMedia,$mdToast) {
	      $scope.showToast = function(message) {
              $mdToast.show(
                 $mdToast.simple()
                    .textContent(message)                       
                    .hideDelay(3000)
              );
           };
		$scope.profile={};
		$scope.profile.types=["unsure","small cell","non-small cell"];
		$scope.profile.stages=["1","2","3","4","unsure"];
		$scope.profile.states=["Alabama",
		 		              "Alaska",
				              "Arizona",
				              "Arkansas",
				              "California",
				              "Colorado",
				              "Connecticut",
				              "Delaware",
				              "District of Columbia",
				              "Florida",
				              "Georgia",
				              "Hawaii",
				              "Idaho",
				              "Illinois",
				              "Indiana",
				              "Iowa",
				              "Kansas",
				              "Kentucky",
				              "Louisiana",
				              "Maine",
				              "Montana",
				              "Nebraska",
				              "Nevada",
				              "New Hampshire",
				              "New Jersey",
				              "New Mexico",
				              "New York",
				              "North Carolina",
				              "North Dakota",
				              "Ohio",
				              "Oklahoma",
				              "Oregon",
				              "Maryland",
				              "Massachusetts",
				              "Michigan",
				              "Minnesota",
				              "Mississippi",
				              "Missouri",
				              "Pennsylvania",
				              "Rhode Island",
				              "South Carolina",
				              "South Dakota",
				              "Tennessee",
				              "Texas",
				              "Utah",
				              "Vermont",
				              "Virginia",
				              "Washington",
				              "West Virginia",
				              "Wisconsin",
				              "Wyoming"
			];
	    $scope.profile.treatments=["Chemotherapy","Radiotherapy","Surgery"];
			$scope.getProfileInfo=function(){
				 $http.get('/getProfileInfo').success(function (response) {
	                    console.log($scope.user=response.result);              
	                  
	                })  
			};
			$scope.logout=function(){
				$window.location.href='/logout';
				
			}
			$scope.updateProfileInfo=function(){
				$scope.user.type="user";
				console.log($scope.user)
				$http.post('/updateProfileInfo',$scope.user).success(function(response){
					console.log("successfully updated");
					$scope.showToast("successfully updated");
					$window.location.reload();
				})
			}
		      $scope.toggle = function (item, list) {
			        var idx = list.indexOf(item);
			        if (idx > -1) {
			          list.splice(idx, 1);
			        }
			        else {
			          list.push(item);
			        }
			      };

			       $scope.exists = function (item, list) {
			        return list.indexOf(item) > -1;
			      }; 
		$scope.customFullscreen = $mdMedia('xs') || $mdMedia('sm');
		  $scope.showFACTL = function(ev) {
		    $mdDialog.show({
		      controller: FACTLController,
		      templateUrl: 'FACTL.tmpl.html',
		      parent: angular.element(document.body),
		      targetEvent: ev,
		      clickOutsideToClose:true,
		      locals: {
		          answers: $scope.answers
		       }
		    })
		        .then(function(answer) {
		          $scope.status = 'You said the information was "' + answer + '".';
		        }, function() {
		          $scope.status = 'You cancelled the dialog.';
		        });
		  };
		  
	 $scope.getLocation=function(Latitude, Longitude){
	
	if (navigator.geolocation) {
navigator.geolocation.getCurrentPosition(function(position) {
$scope.Lat = position.coords.latitude,
$scope.Lon = position.coords.longitude
});
} else {
	$scope.Lat = Latitude;
	$scope.Lon = Longitude;
console.log("error")
};
}; 
	

						$scope.showCancerInfo1 = false;
						$scope.showCancerInfo2 = false;
						$scope.showCancerInfo3 = false;
						$scope.showCard = true;
						$scope.showInfo = false;
						//var marker;
						var map;
						var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
						
						$scope.createMap = function(Latitude, Longitude) {
							//var markers=[[37.791198,-122.431769],[37.66554,-122.47586],[37.94366,-122.53337],[37.3558630,-121.8505680],[37.2583720,-121.9188660],[37.4975170,-122.2710600],[37.3785350,-122.0865850],[37.3189150,-121.9416230],[37.3558630,-121.8505680],[37.3132070,-121.9334580],[37.3280060,-121.9370740],[37.2520720,-121.9463300],[37.3630490,-121.8531090],[37.2533940,-121.9516570],[37.4357880,-122.1765360],[37.3132070,-121.9334580],[37.3157330,-121.9371280],[37.3325120,-121.9089420],[37.3526400,-122.0492810],[37.3132070,-121.9334580],[37.2637820,-121.8775830],[37.2637820,-121.8775830]];
							/* else {
    }
    	console.log("position not provided");
    	} */
    	var Lat = Latitude;
		var Lon = Longitude;
		$scope.Lat=Latitude;
		$scope.Lon = Longitude;
    	if (navigator.geolocation) {
    		navigator.geolocation.getCurrentPosition(function(position) {
    		Lat = position.coords.latitude,
    		Lon = position.coords.longitude
    		$scope.Lat=position.coords.latitude,
    		$scope.Lon=position.coords.longitude
    		});
    		} else {
    			
    		console.log("error")
    		};
    		
    		
    		var mapProp = {
								// var position=getLocation();
								center : new google.maps.LatLng(Lat,
										Lon),
								zoom : 10,
								mapTypeId : google.maps.MapTypeId.ROADMAP,
							};
							/* if(typeof position.title=="undefined")
								{ */
							map = new google.maps.Map(document
									.getElementById("googleMap"), mapProp);
							mark = new google.maps.Marker({
								position : new google.maps.LatLng(Lat,
										Lon),
								map : map,
								title : 'You are here',
								label : 'You are here'
							})

							/* map2= new google.maps.Map(document.getElementById("googleMap2"),
									mapProp);
							mark1 = new google.maps.Marker({
								position : new google.maps.LatLng(Latitude, Longitude),
								map : map2,
								title : 'You are here',
								label : 'You are here'
							}) */
							/* var marker=new google.maps.Marker({
								position : new google.maps.LatLng(37.66554,-122.47586),
								map:map
							}); */
							//marker.setMap(map)
							/*  markers.forEach(function(marker){
									console.log("filtered" + marker[0]);
								new google.maps.Marker({
									position : new google.maps.LatLng(marker[0],marker[1]),
									map: map
								});
								}) */
						}

						$scope.createMap2 = function(Latitude, Longitude, id) {
							//var markers=[[37.791198,-122.431769],[37.66554,-122.47586],[37.94366,-122.53337],[37.3558630,-121.8505680],[37.2583720,-121.9188660],[37.4975170,-122.2710600],[37.3785350,-122.0865850],[37.3189150,-121.9416230],[37.3558630,-121.8505680],[37.3132070,-121.9334580],[37.3280060,-121.9370740],[37.2520720,-121.9463300],[37.3630490,-121.8531090],[37.2533940,-121.9516570],[37.4357880,-122.1765360],[37.3132070,-121.9334580],[37.3157330,-121.9371280],[37.3325120,-121.9089420],[37.3526400,-122.0492810],[37.3132070,-121.9334580],[37.2637820,-121.8775830],[37.2637820,-121.8775830]];
											
							console.log("id in createMap2"+id);
							var mapProp1 = {
								// var position=getLocation();
								center : new google.maps.LatLng($scope.Lat,
										$scope.Lon),
								zoom : 10,
								mapTypeId : google.maps.MapTypeId.ROADMAP,
							};
							/*  if(typeof position.title=="undefined")
								{  */
							map1 = new google.maps.Map(document
									.getElementById(id), mapProp1);
							mark1 = new google.maps.Marker({
								position : new google.maps.LatLng($scope.Lat,
										$scope.Lon),
								map : map1,
								title : 'You are here',
								label : 'You are here'
							})
						}

						$scope.getDoctors = function() {
							$http({
								method : 'POST',
								url : '/getDoctors',
								data : {
									"state" : "California",
									"lat" : $scope.Lat,
									"lon" : $scope.Lon
								}
							})
									.success(

											function(data) {
												//	window.alert("In Success");
												//console.log("data" + data.result[0].lattitude);
												console.log("in success"
														+ data.result.length
														+ " info boolean"
														+ $scope.showInfo);
												var result = data.result;

												result
														.forEach(function(
																marker) {
															console
																	.log("filtered"
																			+ marker);
															mark = new google.maps.Marker(
																	{
																		position : new google.maps.LatLng(
																				marker.visit_address.lat,
																				marker.visit_address.lon),
																		map : map
																	});

															$scope.markerClick(
																	mark,
																	marker);
															/* google.maps.event.addListener(mark, "click",
																	function(event) {
																		alert(this.position);
																		$scope.info=mark.visit_address.city;
																		console.log("info of place"+info);
																	}); */
														})

												//return $scope.result;
											}).error(function(error) {
										alert("error");
									});
						};
						$scope.doctorInfo = [];
						$scope.markerClick = function(marker, filtered) {
							google.maps.event
									.addListener(
											marker,
											'click',
											function(event) {
												/* 				console.log("inside marker add event" + filtered.address);
												 */
												console.log("showInfo"
														+ $scope.showInfo);
												$scope.showInfo = false;
												$scope.showInfo = true;
												$scope.clickedMarker = filtered;

												$scope.name = filtered.name;
												$scope.doctorInfo = filtered.doctors;
												$scope.$apply();
												console
														.log($scope.doctorInfo.length);
												value = filtered.visit_address.city;
												console.log("city info "
														+ $scope.name
														+ " infoboolean "
														+ $scope.showInfo);
												console
														.log("doctor info"
																+ JSON
																		.stringify($scope.doctorInfo));
												/* $scope.clickedSpace = filtered;
												//console.log("title inside" + $scope.value);
												document.getElementById("space").innerHTML = filtered.address;
												document.getElementById("availableFrom").innerHTML = filtered.availableFrom;
												document.getElementById("availableTo").innerHTML = filtered.availableTo;
												
												
												console.log("clickedSpace1"+$scope.clickedSpace); */
											});
							//console.log("title outside" + $scope.value);

						};
						
						$scope.markerClick1=function(marker, filtered) {
							google.maps.event
							.addListener(
									marker,
									'click',
									function(event) {
										$scope.clickedMarker1 = filtered;

										$scope.name1 = filtered.name;
										$scope.treatmentLocationInfo = filtered;
										$scope.$apply();
									var message="Name : <a href="+filtered.url+">"+$scope.name1+"  </a> </br> Contact : "+filtered.display_phone+"   ";
										  infoWindow = new google.maps.InfoWindow({
											  content: message
											  });
										  google.maps.event.addListener(marker, 'click', function () {
								                infoWindow.open(map, marker);
								            });
										  });

									};
						

						//get lifestyle articles
						$scope.getArticles = function() {
							console.log("Get Articles Called");
							$http({
								method : 'GET',
								url : '/getArticles/',
								data : {}
							}).success(function(data) {
								console.log("Back" + JSON.stringify(data));
								$scope.suggestions = data;
								$scope.articles = data;
							});
						};

						//get supportGroups
						$scope.getSupportGroups = function() {
						console.log("getSupportGroups Called");
						$http({
							method: 'GET',
							url: '/getSupportGroups/',
							data: {}
					}).success(function(data) {
							console.log("Back" + JSON.stringify(data.social));
							$scope.supportGroups = data;
						});
					};

					
						
						$scope.getRecommendations = function() {
							$http({
								method : 'GET',
								url : '/getRecommendations',
								data : {}
							})
									.success(
											function(data) {
												console.log("in success"
														+ data.result.length);
												var result = data.result;
												$scope.treatments = result.treatments;
												console.log("Treatments "
														+ $scope.treatments);
												$scope.foodDetails = result.food;
												console
														.log("Treatments "
																+ JSON
																		.stringify($scope.foodDetails));

												$scope.LifestyleDetails = result.lifestyle;
												console
														.log("Treatments "
																+ JSON
																		.stringify($scope.LifestyleDetails));

											});
							$scope.showTreatments = false;
							$scope.showFoodDetails = false;
							$scope.showLifestyleDetails = false;
							

						};
						
						$scope.showRecipes = function(ev,recipe) {
						    $mdDialog.show({
						      controller: DialogController,
						      template : '<div class="treatment-heading" style="padding:10px">'+recipe.title+' </div><div style="padding:10px"> Description : '+recipe.description+' </br> Ingredients : '+recipe.ingredients+' </br> Method : '+recipe.method+'</div> ',
						      parent: angular.element(document.body),
						      targetEvent: ev,
						      clickOutsideToClose:true,
						      fullscreen: $scope.customFullscreen // Only for -xs, -sm breakpoints.
						    })
						    .then(function(answer) {
						      $scope.status = 'You said the information was "' + answer + '".';
						    }, function() {
						      $scope.status = 'You cancelled the dialog.';
						    });
						  };
						  
						  $scope.showPoses = function(ev,pose) {
							    $mdDialog.show({
							      controller: DialogController,
							      template : '<div class="treatment-heading" style="padding:10px">'+pose.name+' </div><div style="padding:10px">'+pose.link+'</div> ',
							      parent: angular.element(document.body),
							      targetEvent: ev,
							      clickOutsideToClose:true,
							      fullscreen: $scope.customFullscreen // Only for -xs, -sm breakpoints.
							    })
							    .then(function(answer) {
							      $scope.status = 'You said the information was "' + answer + '".';
							    }, function() {
							      $scope.status = 'You cancelled the dialog.';
							    });
							  };
						  
						  
						 function DialogController($scope, $mdDialog) {
							    $scope.hide = function() {
							      $mdDialog.hide();
							    };

							    $scope.cancel = function() {
							      $mdDialog.cancel();
							    };

							    $scope.answer = function(answer) {
							      $mdDialog.hide(answer);
							    };
							  }
						
				var showMap=false;
						$scope.getTreatmentLocations = function(treatmentName) {
							
						console.log("treatmentName "+treatmentName);
							$http({
								method : 'POST',
								url : '/getTreatmentLocations',
								data : {
								"treatmentName" : treatmentName	
								}
								
							})
									.success(
											function(data) {
												var result = data.result;
												console.log("result in getTreatmentLocations"+JSON.stringify(result));
												result
														.forEach(
																function(marker) {
																	console
																			.log("filtered"
																					+ marker);
																	mark = new google.maps.Marker(
																			{
																				position : new google.maps.LatLng(
																						marker.coordinates.latitude,
																						marker.coordinates.longitude),
																				map : map1
																			});
																	$scope.markerClick1(
																			mark,
																			marker);

																})
														
											}).error(function(error) {
												alert("error");
											});
						}

						

		
		$scope.personalizedRadonInfo="";
		$scope.generalMessage=false;				
		$scope.getRadonInfo=function(){	
			$scope.generalMessage=true;
			console.log($scope.user.state+" "+$scope.user.county);
			if(typeof $scope.user.state!='undefined'&& $scope.user.state!=""&&typeof $scope.user.county!='undefined'&&$scope.user.county)
			 {
				$scope.zone1=0;
				$scope.zone2=0;
				$scope.zone3=0;
				$http.get('/radonInfo').success(function (response) {
	            console.log(response.data);
	            $scope.stateContacts=response.data.contacts;
	    		$scope.createPieChart(response);
				$scope.personalizedRadonInfo="Your county "+$scope.user.county+" in your state "+$scope.user.state+" has radon Zone "+response.data.radon;
	        })   
			 }
			else if(typeof $scope.user.state!='undefined'&&$scope.user.state!=""){
				$scope.zone1=0;
				$scope.zone2=0;
				$scope.zone3=0;
				$http.get('/radonInfoState').success(function (response) {
		            console.log(response.data);
		            $scope.stateContacts=response.data.contacts;
		    		$scope.createPieChart(response);
				   })	
				
			}
			else{
				$http.get('/radoninfoGeneral').success(function (response) {
	                console.log(response.data);
					var chart1={};
					chart1.type = "GeoChart";
					chart1.data=[  ['State', 'Radon Level'],
					               ];							
					chart1.options={
			        		region:'US',
			        		displayMode: 'regions',
			        		resolution: 'provinces',
			        	colorAxis: {colors: ['yellow', 'orange', 'red']}
			        };
	                for(var i=0;i<response.data.length;i++)
	                {
	                	chart1.data.push([response.data[i].code,response.data[i].level]);		                    	
	                }        
	                console.log(chart1.data);
	                $scope.chart=chart1;			                  
	            })   
			}							        
		};
		
		$scope.createPieChart=function(response){
			 for(var zone in response.data.stateZonesCount){
	            	console.log(response.data.stateZonesCount[zone]);
	            	if(response.data.stateZonesCount[zone]._id==1)
	            		$scope.zone1=response.data.stateZonesCount[zone].count;
	            	else if(response.data.stateZonesCount[zone]._id==2)
	            		$scope.zone2=response.data.stateZonesCount[zone].count;
	            	else if(response.data.stateZonesCount[zone]._id==3)
	            		$scope.zone3=response.data.stateZonesCount[zone].count;
	            }
	            var chart2={};
				chart2.type = "PieChart";
				chart2.data={"cols": [
				                      {id: "t", label: "Radon Level", type: "string"},
				                      {id: "s", label: "Radon Zone", type: "string"}
				                  ], "rows": [
				                      {c: [
				                          {v: "High Risk"},
				                          {v: $scope.zone1},
				                      ]},
				                    
				                      {c: [
				                          {v: "Medium Risk"},
				                          {v: $scope.zone2}
				                      ]},
				                      {c: [
				                          {v: "Low Risk"},
				                          {v: $scope.zone3},
				                      ]}
				                     
				                  ]};
				chart2.options={'title':"Percentage of Radonzones in your state"}
	            $scope.chart=chart2;
		};
	});
		

function FACTLController($window,$scope, $mdDialog, $http, $mdToast, answers) {

	$scope.showToast = function(message) {
		$mdToast.show($mdToast.simple().textContent(message)
				.hideDelay(3000));
	};
	$scope.hide = function() {

		$mdDialog.hide(answer);
	};
	$scope.cancel = function() {

		$mdDialog.cancel("cancel");
	};
	
	$scope.edit = function() {


		}

		$scope.currentStep = 0;
		$scope.currentType = 0;
		$scope.answers = [];
		$scope.questions = [
				{
					"type" : "Physical Well Being",
					"questions" : [
							"I have a lack of energy?",
							"I have nausea?",
							"Because of my physical condition,I have trouble meeting the needs of your family?",
							"I have pain?",
							"I am bothered by side effects of treatment",
							"I feel ill", "I am forced to spend time in bed", ]
				},
				{
					"type" : "Social Well Being",
					"questions" : [
							"I feel close to my friends",
							"I get emotional support from my family",
							"I get support from my friends",
							"My family has accepted my illness",
							"I am satisfied with family communication about my illness",
							"I feel close to my partner (or the person who is my main support)",
							"I am satisfied with my sex life" ]
				},
				{
					"type" : "Emotional Well Being",
					"questions" : [
							"I feel sad",
							"I am satisfied with how I am coping with my illness",
							"I am losing hope in the fight against my illness",
							"I feel nervous", "I worry about dying",
							"I worry that my condition will get worse" ]
				},
				{
					"type" : "Functional Well Being",
					"questions" : [ "I am able to work (include work at home)",
							"My work (include work at home) is fulfilling",
							"I am able to enjoy life",
							"I have accepted my illness", "I am sleeping well",
							"I am enjoying the things I usually do for fun",
							"I am content with the quality of my life right now" ]
				},
				{
					"type" : "Additional Concerns",
					"questions" : [ "I have been short of breath",
							"I am losing weight", "My thinking is clear",
							"I have been coughing",
							"I am bothered by hair loss",
							"I have a good appetite",
							"Breathing is easy for me",
							"Have you ever smoked?", "I regret my smoking" ]
				} ];
		$scope.saveclick = function(n, answer) {
			if (typeof answer == 'undefined')
				$scope.answers.push(-1);
			else
				$scope.answers.push(parseInt(answer));
			if ($scope.currentType == 4 && $scope.currentStep == n - 1) {
				$scope.end = true;
			} else if ($scope.currentStep == n - 1) {
				$scope.currentType++;
				$scope.currentStep = 0;
			} else {
				$scope.currentStep++;
			}
		}

		$scope.submitFACTL = function() {
			var PWB = $scope.answers.slice(0, 7);
			var SWB = $scope.answers.slice(7, 14);
			var EWB = $scope.answers.slice(14, 20);
			var FWB = $scope.answers.slice(20, 27)
			var LCS = $scope.answers.slice(27);
			PWB = calculatePWB(PWB), SWB = calculateSWB(SWB),
					EWB = calculateEWB(EWB), FWB = calculateFWB(FWB),
					LCS = calculateLCS(LCS), console.log($scope.answers + "\n");
			$http.post('/addFACTL', {

				email : "donita.almeida@gmail.com",
				PWB : PWB,
				SWB : SWB,
				EWB : EWB,
				FWB : FWB,
				LCS : LCS,
				PWBArray : $scope.PWBArray,
				SWBArray : $scope.SWBArray,
				EWBArray : $scope.EWBArray,
				FWBArray : $scope.FWBArray,
				LCSArray : $scope.LCSArray,
			}).success(function(response) {
				console.log(response);
				$window.location.reload();
				//$mdDialog.hide(response);
			});
		}
		function calculatePWB(PWB) {

			$scope.PWBArray = [];
			var count = PWB.length;
			var result = 0;
			for ( var value in PWB) {
				if (value == -1) {
					count--;
					$scope.PWBArray.push(-1);
				} else {
					$scope.PWBArray.push(4 - value);
					result += 4 - value;
				}
			}
			result = (result * 7) / count;
			return result;
		}
		function calculateSWB(SWB) {
			$scope.SWBArray = [];
			var count = SWB.length;
			var result = 0;
			for ( var value in SWB) {
				if (value == -1) {
					$scope.SWBArray.push(-1);
					count--;
				} else {
					$scope.SWBArray.push(parseInt(value));
					result += parseInt(value);
				}
			}
			result = (result * 7) / count;
			return result;
		}
		function calculateEWB(EWB) {
			$scope.EWBArray = [];
			var count = EWB.length;
			var result = 0;
			for (var i = 0; i < EWB.length; i++) {
				if (EWB[i] == -1) {
					$scope.EWBArray.push(-1);
					count--;
				} else {
					if (i == 1) {
						$scope.EWBArray.push(EWB[i]);
						result += EWB[i];
					} else {
						$scope.EWBArray.push(4 - EWB[i]);
						result += 4 - EWB[i];
					}
				}
			}
			result = (result * 7) / count;
			return result;
		}
		function calculateFWB(FWB) {
			$scope.FWBArray = [];
			var count = FWB.length;
			var result = 0;
			for ( var value in FWB) {
				if (value == -1) {
					$scope.FWBArray.push(-1);
					count--;
				} else {
					$scope.FWBArray.push(parseInt(value));
					result += parseInt(value);
				}
			}
			result = (result * 7) / count;
			return result;

		}
		function calculateLCS(LCS) {
			$scope.LCSArray = [];
			var count = LCS.length;
			var result = 0;
			for (var i = 0; i < LCS.length; i++) {
				if (LCS[i] == -1) {
					$scope.LCSArray.push(-1);
					count--;

				} else {
					if (i == 2 || i == 4 || i == 6) {
						$scope.LCSArray.push(LCS[i])
						result += LCS[i];
					} else {
						$scope.LCSArray.push(4 - LCS[i]);
						result += 4 - LCS[i];
					}
				}
			}
			result = (result * 7) / count;
			return result;
		}

	}
</script>

</head>


<body ng-app="myApp" ng-controller="PatientController"
	ng-init="getLocation(37.3418790,-121.9242500); createMap(37.3418790,-121.9242500); getDoctors(); getRecommendations(); getProfileInfo(); getArticles()">

	<!-- Header -->
	<div id="header">

		<div class="top">

			<!-- Logo -->
			<div id="logo">
				<span class="image avatar48"><img src="/images/avatar.png"
					alt="" /></span>
				<h1 id="title">{{user.name}}</h1>
				<p>Welcome to <%= title %></p>
				<p>
					<a id="logout-link" ng-href="#" ng-click="logout();">Logout</a>
				</p>
			</div>

			<!-- Nav -->
			<nav id="nav">

				<ul>

					<li><a href="#top" id="top-link"
						class="skel-layers-ignoreHref"><span class="icon fa-home">Home</span></a></li>
			
					<li><a href="#recommendations" id="recommendations-link"
						class="skel-layers-ignoreHref"><span class="icon fa-th">Recommendations</span></a></li>
					<li><a href="#lifestyle" id="lifestyle-link"
						class="skel-layers-ignoreHref"><span class="icon fa-heart-o"
							ng-click="getArticles()">Articles</span></a></li>
					<li><a href="#latestNews" id="news-link"
						class="skel-layers-ignoreHref"><span
							class="icon fa-newspaper-o">Latest News</span></a></li>
					<li><a href="#doctors" id="doctors-link"
						class="skel-layers-ignoreHref"><span
							class="icon fa-stethoscope">Doctors</span></a></li>
					<li><a href="#profile" id="profile-link"
						class="skel-layers-ignoreHref"><span class="icon fa-user">Profile</span></a></li>
				</ul>
			</nav>

		</div>

		<div class="bottom">

			<!-- Social Icons -->
			<ul class="icons">
				<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon fa-facebook"><span
						class="label">Facebook</span></a></li>
				<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
				<li><a href="#" class="icon fa-dribbble"><span
						class="label">Dribbble</span></a></li>
				<li><a href="#" class="icon fa-envelope"><span
						class="label">Email</span></a></li>
			</ul>

		</div>

	</div>

	<!-- Main -->
	<div id="main" class="main-profile">

		<!-- Intro -->
		<section id="top" >
			<div class="container" style="background:url('/images/yoga-background.jpg') 0px -200px;height:300px; ">

				<header >
					<h3 class="main_font">
						"You beat cancer by How You Live, Why You Live and in the manner in
						which you live"
							
					</h3>
					<h3 class="main_font">	<pre>			                          	                    -Stuat Scott</pre></h3>
				</header>
			

				<!-- <footer>
								<a href="#portfolio" class="button scrolly">Magna Aliquam</a>
							</footer> -->

			</div>
	
			<div class="container">
					<br>
					<md-button id="factlButton" type="submit" ng-click="showFACTL($event)"
					class="md-raised md-primary">Answer quick questions to get better recommendations</md-button>
				<header>
					<h2>About Cancer</h2>
				</header>

				<div ng-show="showCancerInfo1" style="text-align: justify">
					<b class="infoTextHeader">What is Non Small Cell Lung Cancer?</b></br>
					Non-small-cell lung cancer is a catchall term for all lung cancers
					that are the not small-cell type. About 80% to 85% of lung cancers
					are non-small cell lung cancer (NSCLC). </br> <b class="infoTextHeader">
						SubTypes</b></br> 1. Adenocarcinoma : These cancers start in early versions
					of the cells that would normally secrete substances such as mucus.
					It is more common in women than in men, and it is more likely to
					occur in younger people than other types of lung
					cancer.Adenocarcinoma is usually found in outer parts of the lung.
					Though it tends to grow slower than other types of lung cancer and
					is more likely to be found before it has spread, this varies from
					patient to patient. People with a type of adenocarcinoma called
					adenocarcinoma in situ (previously called bronchioloalveolar
					carcinoma) tend to have a better outlook than those with other
					types of lung cancer. </br> 2. Squamous cell (epidermoid) carcinoma :
					hese cancers start in early versions of squamous cells, which are
					flat cells that line the inside of the airways in the lungs. They
					are often linked to a history of smoking and tend to be found in
					the central part of the lungs, near a main airway (bronchus) </br> 3.
					Large cell (undifferentiated) carcinoma :It can appear in any part
					of the lung. It tends to grow and spread quickly, which can make it
					harder to treat. A subtype of large cell carcinoma, known as large
					cell neuroendocrine carcinoma, is a fast-growing cancer that is
					very similar to small cell lung cancer.</br> <b class="infoTextHeader">
						Stages</b></br> Stage I: The cancer is located only in the lungs and has
					not spread to any lymph nodes.</br> Stage II: The cancer is in the lung
					and nearby lymph nodes.</br> Stage III: Cancer is found in the lung and
					in the lymph nodes in the middle of the chest, also described as
					locally advanced disease. Stage III has two subtypes:</br> If the cancer
					has spread only to lymph nodes on the same side of the chest where
					the cancer started, it is called stage IIIA.</br> If the cancer has
					spread to the lymph nodes on the opposite side of the chest, or
					above the collar bone, it is called stage IIIB.</br> Stage IV: This is
					the most advanced stage of lung cancer, and is also described as
					advanced disease. This is when the cancer has spread to both lungs,
					to fluid in the area around the lungs, or to another part of the
					body, such as the liver or other organs.</br> <b class="infoTextHeader">
						Symptoms</b></br> 1. A cough that does not go away or gets worse </br> 2.
					Coughing up blood or rust-colored sputum (spit or phlegm) </br> 3. Chest
					pain that is often worse with deep breathing, coughing, or laughing
					</br> 4. Hoarseness </br> 5. Weight loss and loss of appetite </br> 6. Shortness
					of breath </br> 7. Feeling tired or weak </br> 8. Infections such as
					bronchitis and pneumonia that don’t go away or keep coming back </br> 9.
					New onset of wheezing </br> <b class="infoTextHeader"> Treatments</b></br>
					Depending on the stage of the cancer and other factors, treatment
					options for people with NSCLC can include:</br> 1. Surgery</br> 2.
					Radiofrequency ablation (RFA)</br> 3. Radiation therapy</br> 4. Chemotherapy</br>
					5. Targeted therapies</br> 6. Immunotherapy</br> <a class="infoTextHeader"
						ng-click="showCancerInfo1=!showCancerInfo1; showCard=!showCard">
						Go Back </a>
				</div>


				<div ng-show="showCancerInfo2" style="text-align: justify">
					<b class="infoTextHeader">What is Small Cell Lung Cancer?</b></br> Small
					cell lung cancer is a disease in which malignant (cancer) cells
					form in the tissues of the lung. Small cell lung cancer accounts
					for the remaining 15 percent of lung cancers in the United States.
					They tend to grow more quickly than NSCLC tumors.</br> <b
						class="infoTextHeader">Stages</b></br> Limited stage: In this stage,
					cancer is found on one side of the chest, involving just one part
					of the lung and nearby lymph nodes.</br> Extensive stage: In this stage,
					cancer has spread to other regions of the chest or other parts of
					the body.</br> <b class="infoTextHeader">Symptoms</b></br> 1. Fatigue </br> 2.
					Cough </br> 3. Shortness of breath </br> 4. Chest pain, if a tumor spreads to
					the lining of the lung or other parts of the body near the lungs </br>
					5. Loss of appetite </br> 6. Unexplained weight loss </br> 7. Coughing up
					phlegm or mucus </br> 8. Coughing up bood </br> <b class="infoTextHeader">Treatments</b></br>
					1. Chemotherapy </br> 2. Radiation Therapy </br> 3. Surgery </br> <a
						class="infoTextHeader"
						ng-click="showCancerInfo2=!showCancerInfo2; showCard=!showCard">
						Go Back </a>
				</div>

				<div ng-show="showCancerInfo3" style="text-align: justify">
					<b class="infoTextHeader">What is Metastatic Lung Cancer?</b></br> When
					cancer cells travel from primary site to other organs in the body,
					it’s called metastasis. Metastatic lung cancer is a
					life-threatening condition that develops when cancer in another
					area of the body metastasizes, or spreads, to the lung. This is
					different from having a cancer that first started in the lung (a
					primary lung cancer). In that case, the cancer is made up of lung
					cells that have become cancerous. </br> Primary tumors that commonly
					spread to the lungs include:</br> 1. bladder cancer</br> 2. breast cancer</br> 3.
					colon cancer</br> 4. kidney cancer </br> 5. neuroblastoma </br> 6. prostate cancer
					</br> 7. sarcoma </br> 8. Wilms’ tumor </br> <b class="infoTextHeader">
						Symptoms </b></br> Metastatic lung cancer doesn’t always cause symptoms.
					When symptoms do develop, they can be difficult to identify. This
					is because the symptoms may be similar to health conditions other
					than cancer. </br>The symptoms of metastatic lung cancer can include:</br> 1.
					a persistent cough coughing up blood or bloody phlegm </br> 2. chest
					pain </br> 3.shortness of breath </br> 4. wheezing </br>5. weakness</br> 6. sudden
					weight loss </br> <b class="infoTextHeader"> Treatments </b></br>The goal of
					treatment is to control the growth of the cancer or to relieve any
					symptoms. There are numerous different treatments available, and
					your specific treatment plan will depend on various factors. The
					most common treatments which doctors recommend are :</br> 1.
					Chemotherapy </br> 2. Radiation Therapy </br> 3. Surgery </br> 4. Hormone Therapy
					</br> 5. Biological Therapy </br> 6. Radiofrequency ablation (RFA)</br> <a
						class="infoTextHeader"
						ng-click="showCancerInfo3=!showCancerInfo3; showCard=!showCard">
						Go Back </a>
				</div>

				<div class="section__content clearfix" ng-show="showCard">
					<div class="card effect__click">
						<div class="image fit card__front">
							<img class="types_cancer" src="/images/5842696.jpg" alt="" /> 
							<span
								class="card__text">Non Small Cell Lung Cancer</span>
						</div>
						<div class="card__back">
							<span class="card__text__back">What is NSCLC ? </br> Sub-Types
								</br> Symptoms </br> Treatments
							</span><br> <br> <a href="#" class="card__text__back__read"
								ng-click="showCancerInfo1=!showCancerInfo1; showCard=!showCard">Read
								&#8594;</a>
						</div>
					</div>
				</div>
				<div class="section__content clearfix" ng-show="showCard">
					<div class="card effect__click">
						<div class="image fit card__front">
							<img class="types_cancer" src="/images/sclc.jpg" alt="" /> <span
								class="card__text"> Small Cell Lung Cancer</span>
						</div>
						<div class="card__back">
							<span class="card__text__back">What is SCLC? </br> Stages </br>
								Symptoms </br> Treatments
							</span><br> <br> <a href="#" class="card__text__back__read"
								ng-click="showCancerInfo2=!showCancerInfo2; showCard=!showCard">Read
								&#8594;</a>
						</div>
					</div>
				</div>

				<div class="section__content clearfix" ng-show="showCard">
					<div class="card effect__click">
						<div class="image fit card__front">
							<img class="types_cancer" src="/images/mestatic1.jpeg" alt="" />
							<span class="card__text">Metastatic Lung Cancer</span>
						</div>
						<div class="card__back">
							<span class="card__text__back">What is Metastatic Lung
								Cancer?</br> Symptoms </br> Treatments
							</span><br> <br> <a href="#" class="card__text__back__read"
								ng-click="showCancerInfo3=!showCancerInfo3; showCard=!showCard">Read
								&#8594;</a>
						</div>
					</div>
				</div>

			</div>
		</section>
		<!-- 
		<section id="recommendations" class="three">
			<div class="container">

				<header>
					<h2>Recommendations</h2>
				</header>
				Explore our various recommendations on alternative treatments,
				lifestyle and food, to improve your qualilty of life. These
				recommendations are personlized based on your profile. Give us as
				much information as possible for better recommendations.

			</div>
		</section>
 

		<section style="border-style:none;margin:15px;" id="altTreatments" class="three"
			style="border: 2px solid black">

			<div class="container">

				<header class="recommendations-header" ng-click="showTreatments=!showTreatments">
					<h3>Complementary and Alternative Medications</h3>
				</header>


				<div ng-repeat="treatment in treatments" ng-show="showTreatments">
					<div class="treatment-heading">{{treatment.name}}</div>

					<p class="treatment-text">
						<img class="treatment-image" src="{{treatment.image}}" alt=""
							align="right" /> {{treatment.description}}
					</p>
					<a href="{{treatment.link1}}" class="treatment-link">{{treatment.link1}}</a>
				</div>
			</div>
	
		</section>

		
		<section style="border-style:none;margin:15px;"  id="altFood" class="three"
			style="border: 2px solid black">
			<div class="container">

				<header class="recommendations-header"  ng-click="showFoodDetails=!showFoodDetails">
					<h3>Food</h3>
				</header>


				<div ng-repeat="food in foodDetails" ng-show="showFoodDetails">
					<div class="treatment-heading">{{food.name}}</div>
		
					<p class="treatment-text">
						<img class="treatment-image" src="{{food.image}}" alt=""
							align="left" /> {{food.description}}
					</p>
					<a href="{{food.link1}}" class="treatment-link">{{food.link1}}</a>
				</div>
			</div>

		</section>


		<section style="border-style:none;margin:15px;" id="altLifestyle" class="three"
			style="border: 2px solid black">
			<div class="container">

				<header class="recommendations-header" ng-click="showLifestyleDetails=!showLifestyleDetails">
					<h3>LifeStyle</h3>
				</header>
				<div ng-show="showLifestyleDetails">
					Along with medications you lifestyle plays a very important role
					towards your health. Incorporate the following recommendations in
					your day to day activities to lead a healthier life.
					<div ng-repeat="lifestyle in LifestyleDetails">
						<div class="treatment-heading">{{lifestyle.name}}</div>

						<p class="treatment-text">
							<img class="treatment-image" src="{{lifestyle.image}}" alt=""
								align="right" /> {{lifestyle.description}}
						</p>
						<a href="{{lifestyle.link1}}" class="treatment-link">{{lifestyle.link1}}</a>
					</div>
				</div>
			</div>
	
		</section>
		
				<section style="border-style:none;margin:15px;" id="radonInfo" class="three"
			
			style="border: 2px solid black">
		
			<div class="container" >
				<header ng-click="showRadonInfo=!showRadonInfo" class="recommendations-header">
					<h3>Radon Gas Risk Information</h3>
				</header>
			<md-card ng-show="showRadonInfo"> 
			<md-card-header> 
			
			<md-card-header-text>
			<h2 ng-show="generalMessage">Radon Levels in the United States</h2>
			</md-card-header-text> 
			</md-card-header> 
			<md-card-content style="font-size:16px;width:80%;">
			<div google-chart chart="chart"></div>


			<div ng-show="generalMessage">
			<h3>Did you know?</h3>
			<ul >
			<li style=>{{personalizedRadonInfo}}</li>
			<li>According to the U.S. Environmental Protection Agency (EPA) a radon level at or above 4 picocuries per liter(pCi/L) of air is dangerous</li>
			<li>Radon decays quickly, giving off tiny radioactive particles which when inhaled can damage the cells that line the lung. </li>
			<li>Long-term exposure to radon can lead to lung cancer.</li>
			<li>There has been a suggestion of increased risk of leukemia associated with radon exposure in adults and children.</li>
			<li>Radon is the second leading cause of lung cancer in the United States.Scientists estimate that 15,000 to 22,000 lung</li>
			cancer deaths in the United States each year are related to radon. </li>
			</ul>
			</div>
			<md-button ng-hide="generalMessage" class="md-raised md-primary" ng-click="getRadonInfo()">Show Radon gas information</md-button>

			</md-card-content>  </md-card>
			</div>
		
		</section>-->

		<section id="recommendations" ng-cloak style="margin: 5%;">
			
			<md-header>
			<h2>Recommendations</h2>
			</md-header>

			<md-content style="color:black;opacity:1;"> <md-tabs md-dynamic-height md-border-bottom>
			<md-tab label="Treatments"> <md-content class="md-padding">
			<h4 class="md-display-1">Treatments</h4>
			<md-card style="padding:25px;style="color:black;opacity:1;" ng-repeat="treatment in treatments">
				<div class="treatment-heading">{{treatment.name}}</div>

				<p class="treatment-text">
					<img class="treatment-image" src="{{treatment.image}}" alt=""
						align="right" /> {{treatment.description}}
				</p>
				<table style="width: 100%">
				<tr>
					<td class="treatment-text" style="width: 50%; padding:2px" >Books
					<div ng-repeat="book in treatment.books" >
					

					 <a target="_blank" href="{{book.buy_link}}" class="books_heading">{{book.name}}</a></br>
					<b class="books_text"> by {{book.author}}</b>
					<div class="books_text"> Price : {{book.price}} </div>
					<!-- <a class="books_text" style="color:blue" href="{{book.buy_link}}">Buy Here</a> -->
					</div> 
					</td>
					<td><md-button class="md-raised md-primary"
							ng-click="createMap2(37.3418790,-121.9242500,treatment.name);  getTreatmentLocations(treatment.name)">
						Get Nearby Places for treatment</md-button>
						<div flex id="{{treatment.name}}" style="width: 100%; height: 250px;"
							align="right"></div></td>
				</tr>

			</table>
			</md-content> </md-tab> 
			<md-tab label="Food"> 
			<md-content class="md-padding">
			<h2 class="md-display-1">Food</h2>
			
				<md-card ng-repeat="food in foodDetails" style="padding:25px;">
					<div class="treatment-heading">{{food.name}}</div>
       				<p class="treatment-text">
						<img class="treatment-image" src="{{food.image}}" alt=""
							align="left" /> {{food.description}}
					</p>


					<div style="clear:both;"></div>
					<!-- start -->
					<div layout="row">
						<div flex=50 layout="column">
							<h4 align="left">Recipes</h4>
							<div ng-repeat="recipe in food.recipes" >
								<div ng-click="showRecipes($event,recipe)" class="recipe_title"><i class="fa fa-cutlery"></i> {{recipe.title}}</div>
							</div>
						</div> 
						<div flex=50 layout="column">
							<h4 align="left">Buying Links</h4>
							<div layout="row" ng-repeat="buy in food.buying_links" class="treatment-text">
								<img flex=25 src="{{buy.image}}" width="50px" height="50px" /> 
								<div flex=75>
									<a target="_blank" href="{{buy.link}}">{{buy.name}} </a>
									<div> {{buy.price}}</div>
								</div>
							</div>
						</div>
					</div>
				</md-card>
			</md-content> 
			</md-tab> 

      <md-tab label="Lifestyle">
        <md-content class="md-padding">
          <h2 class="md-display-1">Lifestyle</h2>
          <div>
					Along with medications your lifestyle plays a very important role
					towards your health. Incorporate the following recommendations in
					your day to day activities to lead a healthier life.</br></br>
					<md-card style="padding:25px;" ng-repeat="lifestyle in LifestyleDetails">
						<div class="treatment-heading">{{lifestyle.name}}</div>

						<p class="treatment-text">
							<img class="treatment-image" src="{{lifestyle.image}}" alt=""
								align="right" /> {{lifestyle.description}}
								</p>
								<div ng-repeat="pose in lifestyle.poses">
													
						<div ng-click="showPoses($event,pose)" class="recipe_title" style="color: blue">{{pose.name}}</div>
						</div></br>
						<div ng-repeat="buy in lifestyle.buying_links" class="treatment-text">
						<img src="{{buy.image}}" class="buy_image"/>
						 <p>
						 <a target="_blank" href="{{buy.link}}">{{buy.name}} 
						 </a></br> {{buy.price}}
						 </p>
						 </div>
						
						<div ng-repeat="book in lifestyle.books" class="treatment-text">
						<a target="_blank" href="{{book.buy_link}}" class="books_heading" style="text-align:right">{{book.name}}</a>
					<b class="books_text" style="text-align:left"> by {{book.author}}</b>
					<div class="books_text" style="text-align:left"> Price : {{book.price}} </div>
					</div>

					</md-card>
				</div>
        </md-content>
      </md-tab>
        <md-tab label="Radon">
        <md-content class="md-padding">
          <h2 class="md-display-1">Radon risk in your area <%=user.state%></h2>
          <md-button ng-hide="generalMessage" class="md-raised md-primary" ng-click="getRadonInfo()">Get Info</md-button>
          			<md-card style="padding:25px;" ng-show="generalMessage">
          			<div google-chart chart="chart"></div>
          			<div ng-show="stateContacts">
          			<span class="icon fa-info-circle"> {{personalizedRadonInfo}}.</span> 
          			 <p>Following are some Radon measurement and mitigation services near you:</p>
          			<md-list  flex="row">
          			<md-list-item class="myList" ng-repeat="contact in stateContacts">

          			
          			
          			<div align="left" layout="column">
          			<div layout="row"><img height="50rem" width="50rem" src="/images/environment.png"> <h4>{{contact.title}}</h4></div>

          			{{contact.address}}<br>
          			{{contact.phone}}         			          			
          			<a target="_blank" ng-href="{{contact.url}}">{{contact.url}}</a> 
          			</div>
          			</<md-list-item>

          			</md-list>
          			</div>
			<h3>Did you know?</h3>
			<ul class="radonList" class="treatment-text">
			<li>According to the U.S. Environmental Protection Agency (EPA) a radon level at or above 4 picocuries per liter(pCi/L) of air is dangerous</li>
			<li>Radon decays quickly, giving off tiny radioactive particles which when inhaled can damage the cells that line the lung. </li>
			<li>There has been a suggestion of increased risk of leukemia associated with radon exposure in adults and children.</li>
			<li>Radon is the second leading cause of lung cancer in the United States.Scientists estimate that 15,000 to 22,000 lung cancer deaths in the United States each year are related to radon.</li>
			
			</ul>
			</md-card>
        </md-content>
      </md-tab>	 
	        <md-tab ng-click="getSupportGroups()" label="Support Groups">
        <md-content class="md-padding">
          <h2 class="md-display-1">Support groups in <%=user.state%> and Social media groups</h2>
		  <md-card style="padding:25;">
		  <div>
          	<div class="support-groups" ng-repeat="group in supportGroups.data">
					<img src="/images/support-icon.jpg" class="img-circle" width="200" height="200">
					<div class="article-heading">{{group.Name}}</div>
					<div class="article-description">{{group.Address}}</div>
					<div class="article-description"><span class="icon fa fa-phone"></span>     {{group.Phone}}</div>
					<div class="article-link">
						<span class="icon fa fa-external-link"></span><a href={{group.Link}} target="_blank">     {{group.Link}}</a>
					</div>		
          	</div>
		  </div>
		  <div>
			<div class="social" ng-repeat="social in supportGroups.social">
				<div>
					<div class="article-heading"><a href={{social.Link}} target="_blank">{{social.Name}}</a></div>
					<div class="article-description">{{social.Description}}</div>
				</div>
			</div>
		  </div>
		  </md-card>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</section>
				
		<section id="lifestyle" class="three">
				<div class="container">
				<header>
					<h2>Articles</h2>
				</header>
			<md-card style="padding:5%;">

				
				<div ng-repeat="article in articles.data">

					<div class="article-heading">{{article.Summary}}</div>
					<div class="article-description">
						{{article.Description}} <span class="article-link"> <a
							href={{article.Link}} target="_blank">Read more...</a>
						</span>
					</div>
				</div>

			</md-card>
				</div>
		</section>

		<!-- Latest News -->
		<section id="latestNews" class="four">
			<div class="container">
			<header>
					<h2>Latest News</h2>
				</header>
				<md-card style="padding:5%;">
				

				<div class="news news_font">
					OncoMed's lung cancer drug fails mid-stage study, shares tumble <a target="_blank"
						href="https://www.reuters.com/article/us-oncomed-pharms-study-idUSKBN17J0ZK">
						<font
						color="black" width="100%">&#8594;</font></a>
				</div>
				</br>
				<div class="news news_font">
					New Treatments for Lung Cancer <a
						href="https://health.usnews.com/health-care/patient-advice/articles/2017-04-18/new-treatments-for-lung-cancer"><font
						color="black" width="100%">&#8594;</font></a>
				</div>
				</br>
				<div class="news news_font">
					OncoMed stock drops 25% after lung cancer drug misses in mid-stage
					clinical trial <a target="_blank"
						href="https://www.marketwatch.com/story/oncomed-stock-halted-after-lung-cancer-drug-misses-in-mid-stage-clinical-trial-2017-04-17"><font
						color="black" width="100%">&#8594;</font></a>
				</div>
				</md-card>
			</div>
		</section>


		<!-- Doctors -->
		<section id="doctors" class="five">
			<div class="container">
						<header>
				<h2>Doctors</h2>
			</header>
			<md-card style="padding:5%;">

			<div class="container" layout="row" layout-sm="column">


				<div flex id="googleMap" style="width: 700px; height: 500px;"
					align="right"></div>

				<div flex ng-model="clickedMarker" ng-show="showInfo"
					class="treatment-heading">
					Name : {{clickedMarker.name}} </br>
					<div ng-repeat="doctor in clickedMarker.doctors">
						Doctor Name: {{doctor.first_name}} {{doctor.last_name}}</br> Title :
						{{doctor.title}}
					</div>
				</div>


			</div>
			</md-card>
			</div>
		</section>
		<br>
		<!-- Profile -->
		<section id="profile" class="six">
			
			<div class="container">
				<header>
				<h2>Profile</h2>
			</header>
				<md-card> <md-card-header> <md-card-avatar>
				<img class="md-user-avatar" src="images/avatar.png" /> </md-card-avatar>  </md-card-header> <md-card-content style="font-size:16px;width:80%;">
				<table ng-table="vm.tableParams" class="table table-bordered">
					<tr>
						<td><md-input-container class="md-block">
							<label>Name</label> <input ng-model="user.name"> </md-input-container></td>
						<td><md-input-container class="md-block">
							<label>Email</label> <input disabled ng-model="user.email">
							</md-input-container></td>

					</tr>
					<tr>
						<td><md-input-container class="md-block">
							 <md-select ng-model="user.state">		
            		<md-option ng-value="state"  ng-repeat="state in profile.states" >{{state}}</md-option>       		
          		</md-select></md-input-container> </td>
						

					</tr>


					<tr>
					<td><md-input-container class="md-block">
							<label>County</label> <input ng-model="user.county"> </md-input-container></td>
						<td><md-input-container class="md-block">
							<label>Gender</label> <input ng-model="user.gender"> </md-input-container></td>


					</tr>
					<tr>
						<td><md-input-container class="md-icon-float md-block">
							<label>Type of Lung Cancer</label> <md-select
								ng-model="user.cancer_type"> <md-option
								ng-value="opt" ng-repeat="opt in profile.types">{{opt}}</md-option>
							</md-select> </md-input-container></td>
						<td><md-input-container class="md-icon-float md-block">
							<label>Stage of Lung Cancer</label> <md-select
								ng-model="user.stage"> <md-option
								ng-value="user.stage" ng-repeat="stage in profile.stages">{{stage}}</md-option>
							</md-select> </md-input-container></td>
					</tr>

					<tr>
						<td><label>Current Treatments:</label> <span
							ng-repeat="item in profile.treatments"> <md-checkbox
									ng-checked="exists(item, user.treatments)"
									ng-click="toggle(item, user.treatments)"> {{ item
								}} </md-checkbox>
						</span></td>
					</tr>

				</table>
				</md-card-content> <md-card-actions layout="row" layout-align="end center">
				<md-button class="md-raised md-primary"
					ng-click="updateProfileInfo()">Update</md-button> </md-card-actions> </md-card>
		</section>
		<!--  <section id="contact_us" class="six">
			<div class="container">

				<header>
					<h2>Contact Us</h2>
				</header>

				<form method="post" action="#">
					<div class="row">
						<div class="6u 12u$(mobile)">
							<input type="text" name="name" placeholder="Name" />
						</div>
						<div class="6u$ 12u$(mobile)">
							<input type="text" name="email" placeholder="Email" />
						</div>
						<div class="12u$">
							<textarea name="message" placeholder="Message"></textarea>
						</div>
						<div class="12u$">
							<input type="submit" value="Send Message" />
						</div>
					</div>
				</form>

			</div>
		</section>-->

	</div>

	<!-- Footer -->
	<div id="footer" class="landing-container">

		<!-- Copyright -->
		<ul class="copyright">
			<li>&copy; CancerCare 2017. All rights reserved.</li>
		</ul>

	</div>


	<!-- Scripts -->
	<script type="text/ng-template" id="FACTL.tmpl.html">
		<md-dialog  style="width:50%">
		
			<md-content style="padding:20px;" ng-repeat="questionSet in questions" ng-show="currentType == $index">
				<h3 md-colors="{color:'primary'}">{{questionSet.type}}</h3>
				<md-content ng-repeat="question in questionSet.questions" ng-show="currentStep == $index">
				{{question}}
				<md-input-container style="line-height:16px" class="md-block" style="margin-left:50px;">
					<md-radio-group ng-model="answer" ng-change="saveclick(questionSet.questions.length,answer)" ng-required="true">
      					<md-radio-button value="0" class="md-primary">Not at all</md-radio-button>
      					<md-radio-button value="1">A little bit </md-radio-button>
      					<md-radio-button value="2">Somewhat</md-radio-button>
      					<md-radio-button value="3">Quite a bit</md-radio-button>
      					<md-radio-button value="4">Very much</md-radio-button>
    				</md-radio-group>
				</md-input-container>			
				<!--  <md-button type="submit" ng-hide="end" class="md-raised md-primary" ng-click="saveclick(questionSet.questions.length,answer)">Next</md-button>-->			

			<md-content>
		</md-content>	
		
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-raised md-primary" ng-click="cancel()" >
        Cancel
      </md-button>
      <md-button ng-show="end" class="md-raised md-primary" ng-click="submitFACTL()" >Done</md-button>
    </md-dialog-actions>
</md-dialog>

</script>

	</script><script type="text/ng-template" id="recipes.tmpl.html"><md-dialog aria-label="Mango (Fruit)">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Mango (Fruit)</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
 <md-dialog-content>

</md-dialog-content>
</form>
</script>


	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/jquery.scrolly.min.js"></script>
	<script src="/assets/js/jquery.scrollzer.min.js"></script>
	<script src="/assets/js/skel.min.js"></script>
	<script src="/assets/js/util.js"></script>
	<!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="/assets/js/main.js"></script>

</body>
</html>