
<html>
	<head>
		<title><%= title %></title>
    	<link rel='stylesheet' href='/stylesheets/style.css' />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<link rel="stylesheet" href="/node_modules/angular-material/angular-material.min.css"/>
		<link rel="stylesheet" href="/node_modules/angular-material/angular-material.min.css"/>
		<script src="/node_modules/angular/angular.min.js"></script>
		<script src="/node_modules/angular-animate/angular-animate.js"></script>
		<script src="/node_modules/angular-aria/angular-aria.min.js"></script>
		<script src="/node_modules/angular-material/angular-material.min.js"></script>
		<script>
			angular.module('myApp',['ngMaterial'])
				.run(function(){
					console.log("Ready angular");
				})
		</script>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['geochart']});
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {

        var data = google.visualization.arrayToDataTable([
  
          ['State', 'Radon Zones'],
          ['US-IL', 1],
          ['US-IN', 2],
          ['US-IA', 3],
          ['US-RI', 2],
          ['US-NY',2],
          ['US-PA',1],
          ['US-OH',1]
        ]);

        var options = {
        		region:'US',
        		displayMode: 'regions',
        		resolution: 'provinces',
        	colorAxis: {colors: ['red', 'orange', 'yellow']}
        };

        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

        chart.draw(data, options);
      }
    </script>
	</head>
	<body ng-app="myApp">

		<!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<span class="image avatar48"><img src="/images/avatar.jpg" alt="" /></span>
							<h1 id="title">Jane Doe</h1>
							 <p>Welcome to <%= title %></p>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<!--

								Prologue's nav expects links in one of two formats:

								1. Hash link (scrolls to a different section within the page)

								   <li><a href="#foobar" id="foobar-link" class="icon fa-whatever-icon-you-want skel-layers-ignoreHref"><span class="label">Foobar</span></a></li>

								2. Standard link (sends the user to another page/site)

								   <li><a href="http://foobar.tld" id="foobar-link" class="icon fa-whatever-icon-you-want"><span class="label">Foobar</span></a></li>

							-->
							<ul>
								<li><a href="#top" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Home</span></a></li>
								<li><a href="#recommendations" id="recommendations-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Recommendations</span></a></li>
								<li><a href="#lifestyle" id="lifestyle-link" class="skel-layers-ignoreHref"><span class="icon fa-heart-o">Lifestyle</span></a></li>
								<li><a href="#latestNews" id="news-link" class="skel-layers-ignoreHref"><span class="icon fa-newspaper-o">Latest News</span></a></li>
								<li><a href="#doctors" id="doctors-link" class="skel-layers-ignoreHref"><span class="icon fa-stethoscope">Doctors</span></a></li>
								<li><a href="#profile" id="profile-link" class="skel-layers-ignoreHref"><span class="icon fa-user">Profile</span></a></li>
							</ul>
						</nav>

				</div>

				<div class="bottom">

					<!-- Social Icons -->
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
							<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>

				</div>

			</div>

		<!-- Main -->
			<div id="main" class="main-profile">

				<!-- Intro -->

				<!--  Recommendations -->
				<section id="recommendations" class="two">
						<div class="container">

							<header>
								<h2>Radon zones near you</h2>	
							</header>
							
							<div id="regions_div" style="width: 800px; height: 400px;"></div>
							<h3>Did you know?</h3><p>Radon decays quickly, giving off tiny radioactive particles.

When inhaled, these radioactive particles can damage the cells that line the lung.

Long-term exposure to radon can lead to lung cancer, only cancer proved to be associated with inhaling radon.

There has been a suggestion of increased risk of leukemia associated with radon exposure in adults and children; however, the evidence is not conclusive.Cigarette smoking is the most common cause of lung cancer.

Radon represents a far smaller risk for this disease, but it is the second leading cause of lung cancer in the United States.

Scientists estimate that 15,000 to 22,000 lung cancer deaths in the United States each year are related to radon.</p>
							
						</div>
					</section>
			



			</div>

		<!-- Footer -->
			<div id="footer-profile">

				<!-- Copyright -->
					<ul class="copyright">
						<li>&copy; CancerCare 2017. All rights reserved.</li>
					</ul>

			</div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.scrolly.min.js"></script>
			<script src="/assets/js/jquery.scrollzer.min.js"></script>
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/assets/js/main.js"></script>

	</body>
</html>